.services{
    background-color: #FE7F2D;
    padding-top: 120px;
    padding-bottom: 120px;

}
.services h3{
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: blue;
    margin-top: 0px;
}
 .services h2{
     text-align: center;
 }

 .circle{
     background-color: white;
     height: 50px;
     width: 50px;
     border-radius: 25px;
 }